.DS_Store
/cache
/sentinel_data
.DS_Store
.DS_Store
.DS_Store
.DS_Store
/__pycache__
/aois_json
/aois_json
/processed_stacks
/results
/ESA_WORLDCOVER_10M_2021_V200
/ESA_WorldCover_10m_2021_v200_S39E144_Map
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
